* {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.815);
  
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: whitesmoke;
}

.gif {
  max-width: 100%; /* ajusta o tamanho máximo do GIF para a largura do container */
  margin-bottom: 20px; /* ajusta a margem inferior do GIF */
  cursor: pointer;
}

.main-text {
  margin-top: 5px;
  font-size: 2rem;
  text-align: center;
  background-color: whitesmoke;
  font-weight: bold;
  letter-spacing: 5px;
}

.audio-btn{
  font-size: 20px;
  background-color: whitesmoke;
  color: whitesmoke;
}
